.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(90deg, #1A1325, #3D2E60);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3); /* Adds depth */
    color: #E0D7FF;
    width: 100%;
  }
  
  .logo {
    height: 100px;
    cursor: pointer;
    color: #E0D7FF;
  }
  
  .navbar-title {
    text-align: center;
    font-size: 20px;
  }
  
  .user-profile .profile-pic {
    height: 60px;
    width: 60px;
    padding: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  