#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Layout styles */
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-container {
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #340f40;
  color: white;
}

.logo {
  height: 80px;
}

.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  background-color: #1f1035;
  padding: 20px;
  height: 100%;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  cursor: pointer;
}

.sidebar .week {
  padding-left: 20px;
  font-size: 0.9rem;
}
